<div class="delete">

<% result = 0 %>
<% bool = false %>
     <% for interest in @interests %>
     <% if interest.customer_id == @id_input.id_input.to_i %>
     <%  result = @id_input.id_input %>
     <%  bool = true %>

     <div class="editorder2">

     <p><a href="/heavybucketgames/jumper/<%= interest.customer_id %>/edit"><font color="white">Edit Order</font></a></p>

     </div>

     <form method="post" action="/heavybucketgames/jumper/<%= result %>/delete">
       <div class="delete">
       <input type="submit" value="Delete Order"/>
     </form>

     <h1> <%= result %></h1>

     <% else %>
     <% counter = 1 %>
     <% end %>
  <% end %>

<% if bool == false %>
<a href="/heavybucketgames/games/jumper/shortlist">Back></a>
<p>Try again</p>
<% end %>
</div>
