<div class="jumperform">

<form method="post" action="/heavybucketgames/games/jumper">

  <div class="button1">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  autocomplete="off"
  id="name-field"
  required><text>
  />
  </div>

<div class="button2">

  <label for="email-field">Email:</label>
  <input
  type="text"
  name="email"
  autocomplete="off"
  id="email"
  required><text>
  />
  </div>
<input type="submit" value="send">
</form>

<div class="statusback">

<a href="/heavybucketgames/games">Back></a>

</div>

</div>
