<div class="statusvisible">

  <% for space in @spaces %>
  <p> Jumper Beta Keys Left : <%= space.jumper_spaces %> </p>
  <% break %>
  <% end %>

  <% for game in @games %>
  <%   if game.title == "jumper" %>
  <p> Release Date : <%= game.release_date %> </p>
       <% else next %>
       <% end %>
  <% break %>
<% end %>

<div class="statusback">

<a href="/heavybucketgames/games">Back></a>

</div>

</div>

<div class="viewacceptedtesters">

<% for space in @spaces %>
    <% if space.jumper_spaces == "10" %>
      <p></p>
    <% else %>
    <a href=/heavybucketgames/games/jumper/shortlist>View Accepted Testers</a>
    <% end %>
    <% break %>
<% end %>
</div>

<div class="nedright">
<img src="/images/timefist1.11.png" width="150px" height="400px" alt="">
</div>
