<div class="delete">


<% result = 0 %>
<% counter = 0 %>
     <% for interest in @interests %>
        <% if interest.customer_id == @id_input.id_input.to_i %>
        <%  result = @id_input.id_input %>

<div class="editbutton"><p><a href="/heavybucketgames/timefist/<%= interest.customer_id %>/edit">Edit Order</a></p> </div>

        <form method="post" action="/heavybucketgames/timefist/<%= result %>/delete">
        <div class="delete">
        <input type="submit" value="Delete Order"/>
        </form>

        <h1> <%= result %></h1>

        <% else %>
        <% counter = 1 %>
        <% end %>
     <% end %>

<% if counter == 1 %>
   <a href="/heavybucketgames/games/timefist/shortlist">Back></a>
 <% end %>
</div>
