<div class="statusvisible">

  <% for space in @spaces %>
  <p> Timefist Beta Keys Left : <%= space.timefist_spaces %> </p>
  <% break %>
  <% end %>

  <% for game in @games %>
  <%   if game.title == "time fist" %>
  <p> Release Date : <%= game.release_date %> </p>
       <% else next %>
       <% end %>
  <% break %>
<% end %>

<div class="statusback">

<a href="/heavybucketgames/games">Back></a>

</div>

</div>

<div class="viewacceptedtesters">

<% for space in @spaces %>
    <% if space.timefist_spaces == "3" %>
      <p></p>
    <% else %>
    <a href=/heavybucketgames/games/timefist/shortlist>View Accepted Testers</a>
    <% end %>
    <% break %>
<% end %>
</div>


<div class="nedleft">
   <img src="/images/timefist1.10.png" width="150px" height="400px" alt="">
</div>
